{% extends 'layout.html' %}
{% block subtitle %}<h1 class="mt-2">¡Hoy en la historia!</h1>{% endblock subtitle %}
{% block content %}
    <h3 class="m-5">Cumpleaños
    </h3>
    <div class="table-responsive col-12 ">
        <!-- Page Content -->
        <!--Table-->
        <table class="table table-hover table-fixed">
            <!--Table head-->
            <thead>
            <tr class="text-left">
                <th>Nombre</th>
                <th>Edad</th>
                <th>Temporadas</th>
                <th>Titulos</th>
            </tr>
            </thead>
            <!--Table head-->
            <!--Table body-->
            <tbody>
            <tr>
                <th scope="row">Juan Piza</th>
                <td>32</td>
                <td>2012-2014,2017-2019</td>
                <td>4</td>
            </tr>
            </tbody>
            <!--Table body-->
        </table>
        <!--Table-->
    </div>
    <h3 class="m-5">Partidos
    </h3>
    <div class="table-responsive col-12 ">
        <!-- Page Content -->
        <!--Table-->
        <table class="table table-hover table-fixed">
            <!--Table head-->
            <thead>
            <tr class="text-left">
                <th>Partido</th>
                <th>Año</th>
                <th>Resultado</th>
            </tr>
            </thead>
            <!--Table head-->
            <!--Table body-->
            <tbody>
            <tr>
                <th scope="row">Millonarios FC vs Deportes Tolima</th>
                <td>2019</td>
                <td>3 - 0</td>
            </tr>
            </tbody>
            <!--Table body-->
        </table>
        <!--Table-->
    </div>
{% endblock content %}
